TrazinsAtenea/Connected Services/ServiceWSTrazinsAtenea/WSTrazinsAtenea.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://WSTrazinsAtenea.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSTrazinsAtenea" targetNamespace="http://WSTrazinsAtenea.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://WSTrazinsAtenea.com/Imports">
      <xsd:import schemaLocation="http://localhost:53110/WSTrazinsAtenea.svc?xsd=xsd0" namespace="http://WSTrazinsAtenea.com" />
      <xsd:import schemaLocation="http://localhost:53110/WSTrazinsAtenea.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Caja_Select" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:Caja_SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Caja_Insert" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Caja_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Caja_Update" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:Caja_UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSTrazinsAtenea">
    <wsdl:operation name="Caja_Select">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Select" message="tns:IWSTrazinsAtenea_Caja_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_SelectResponse" message="tns:IWSTrazinsAtenea_Caja_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Caja_Insert">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Insert" message="tns:IWSTrazinsAtenea_Caja_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_InsertResponse" message="tns:IWSTrazinsAtenea_Caja_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Caja_Update">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Update" message="tns:IWSTrazinsAtenea_Caja_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_UpdateResponse" message="tns:IWSTrazinsAtenea_Caja_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSTrazinsAtenea" type="tns:IWSTrazinsAtenea">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Caja_Select">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Caja_Insert">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Caja_Update">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSTrazinsAtenea">
    <wsdl:port name="BasicHttpBinding_IWSTrazinsAtenea" binding="tns:BasicHttpBinding_IWSTrazinsAtenea">
      <soap:address location="http://localhost:53110/WSTrazinsAtenea.svc/WSTrazinsAtenea.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>