TrazinsAtenea/Connected Services/ServiceWSTrazinsAtenea/WSTrazinsAtenea1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WSTrazinsAtenea.com" elementFormDefault="qualified" targetNamespace="http://WSTrazinsAtenea.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Caja_Select_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caja" nillable="true" type="tns:Caja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Caja">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Activa" type="xs:boolean" />
          <xs:element minOccurs="0" name="CHIdPropietario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CajaId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CajaId_CodigoCaja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoCaja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EspId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Especialidad_Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HosIdPropietario" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Caja" nillable="true" type="tns:Caja" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuditMaquina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuditProceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuditUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HosId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:element name="Caja_Select_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Caja_Select_ListResult" nillable="true" type="tns:ArrayOfCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCaja">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Caja" nillable="true" type="tns:Caja" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaja" nillable="true" type="tns:ArrayOfCaja" />
  <xs:element name="Caja_Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caja" nillable="true" type="tns:Caja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Caja_SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Caja_SelectResult" nillable="true" type="tns:Caja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Caja_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caja" nillable="true" type="tns:Caja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Caja_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Caja_InsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Caja_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caja" nillable="true" type="tns:Caja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Caja_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Caja_UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Especialidad_Select_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="especialidad" nillable="true" type="tns:Especialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Especialidad">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EspId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Especialidad" nillable="true" type="tns:Especialidad" />
  <xs:element name="Especialidad_Select_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Especialidad_Select_ListResult" nillable="true" type="tns:ArrayOfEspecialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Especialidad" nillable="true" type="tns:Especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecialidad" nillable="true" type="tns:ArrayOfEspecialidad" />
  <xs:element name="Especialidad_Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="especialidad" nillable="true" type="tns:Especialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Especialidad_SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Especialidad_SelectResult" nillable="true" type="tns:Especialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Especialidad_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="especialidad" nillable="true" type="tns:Especialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Especialidad_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Especialidad_InsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Especialidad_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="especialidad" nillable="true" type="tns:Especialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Especialidad_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Especialidad_UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Embalaje_Select_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="embalaje" nillable="true" type="tns:Embalaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Embalaje">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CaducidadDias" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CaducidadMeses" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ConId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Embalaje" nillable="true" type="tns:Embalaje" />
  <xs:element name="Embalaje_Select_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Embalaje_Select_ListResult" nillable="true" type="tns:ArrayOfEmbalaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfEmbalaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Embalaje" nillable="true" type="tns:Embalaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmbalaje" nillable="true" type="tns:ArrayOfEmbalaje" />
  <xs:element name="Embalaje_Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="embalaje" nillable="true" type="tns:Embalaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Embalaje_SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Embalaje_SelectResult" nillable="true" type="tns:Embalaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Embalaje_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="embalaje" nillable="true" type="tns:Embalaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Embalaje_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Embalaje_InsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Embalaje_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="embalaje" nillable="true" type="tns:Embalaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Embalaje_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Embalaje_UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hospital_Select_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospital" nillable="true" type="tns:Hospital" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Hospital">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConFirma" type="xs:boolean" />
          <xs:element minOccurs="0" name="EmbIdArt" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EmbIdCaj" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EmbIdSC" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IntOrion" type="xs:boolean" />
          <xs:element minOccurs="0" name="IntSelene" type="xs:boolean" />
          <xs:element minOccurs="0" name="NomHospital" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Siglas" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Hospital" nillable="true" type="tns:Hospital" />
  <xs:element name="Hospital_Select_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hospital_Select_ListResult" nillable="true" type="tns:ArrayOfHospital" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfHospital">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hospital" nillable="true" type="tns:Hospital" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHospital" nillable="true" type="tns:ArrayOfHospital" />
  <xs:element name="Hospital_Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospital" nillable="true" type="tns:Hospital" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hospital_SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hospital_SelectResult" nillable="true" type="tns:Hospital" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hospital_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospital" nillable="true" type="tns:Hospital" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hospital_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hospital_InsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hospital_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospital" nillable="true" type="tns:Hospital" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hospital_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hospital_UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoCaja_Select_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoCaja" nillable="true" type="tns:TipoCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TipoCaja">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TipoCaja" nillable="true" type="tns:TipoCaja" />
  <xs:element name="TipoCaja_Select_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoCaja_Select_ListResult" nillable="true" type="tns:ArrayOfTipoCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfTipoCaja">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoCaja" nillable="true" type="tns:TipoCaja" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoCaja" nillable="true" type="tns:ArrayOfTipoCaja" />
  <xs:element name="TipoCaja_Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoCaja" nillable="true" type="tns:TipoCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoCaja_SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoCaja_SelectResult" nillable="true" type="tns:TipoCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoCaja_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoCaja" nillable="true" type="tns:TipoCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoCaja_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoCaja_InsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoCaja_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoCaja" nillable="true" type="tns:TipoCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoCaja_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoCaja_UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Limpieza_Select_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limpieza" nillable="true" type="tns:Limpieza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Limpieza">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Control1" type="xs:boolean" />
          <xs:element minOccurs="0" name="Control2" type="xs:boolean" />
          <xs:element minOccurs="0" name="Control3" type="xs:boolean" />
          <xs:element minOccurs="0" name="Control4" type="xs:boolean" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoLavId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Limpieza" nillable="true" type="tns:Limpieza" />
  <xs:element name="Limpieza_Select_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Limpieza_Select_ListResult" nillable="true" type="tns:ArrayOfLimpieza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfLimpieza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Limpieza" nillable="true" type="tns:Limpieza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLimpieza" nillable="true" type="tns:ArrayOfLimpieza" />
  <xs:element name="Limpieza_Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limpieza" nillable="true" type="tns:Limpieza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Limpieza_SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Limpieza_SelectResult" nillable="true" type="tns:Limpieza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Limpieza_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limpieza" nillable="true" type="tns:Limpieza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Limpieza_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Limpieza_InsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Limpieza_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limpieza" nillable="true" type="tns:Limpieza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Limpieza_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Limpieza_UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Esterilizacion_Select_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="esterilizacion" nillable="true" type="tns:Esterilizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Esterilizacion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Control1" type="xs:boolean" />
          <xs:element minOccurs="0" name="Control2" type="xs:boolean" />
          <xs:element minOccurs="0" name="Control3" type="xs:boolean" />
          <xs:element minOccurs="0" name="Control4" type="xs:boolean" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Esterilizacion" nillable="true" type="tns:Esterilizacion" />
  <xs:element name="Esterilizacion_Select_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Esterilizacion_Select_ListResult" nillable="true" type="tns:ArrayOfEsterilizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfEsterilizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Esterilizacion" nillable="true" type="tns:Esterilizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEsterilizacion" nillable="true" type="tns:ArrayOfEsterilizacion" />
  <xs:element name="Esterilizacion_Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="esterilizacion" nillable="true" type="tns:Esterilizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Esterilizacion_SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Esterilizacion_SelectResult" nillable="true" type="tns:Esterilizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Esterilizacion_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="esterilizacion" nillable="true" type="tns:Esterilizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Esterilizacion_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Esterilizacion_InsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Esterilizacion_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="esterilizacion" nillable="true" type="tns:Esterilizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Esterilizacion_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Esterilizacion_UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Almacen_Select_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="almacen" nillable="true" type="tns:Almacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Almacen">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlmId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Almacen" nillable="true" type="tns:Almacen" />
  <xs:element name="Almacen_Select_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Almacen_Select_ListResult" nillable="true" type="tns:ArrayOfAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfAlmacen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Almacen" nillable="true" type="tns:Almacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlmacen" nillable="true" type="tns:ArrayOfAlmacen" />
  <xs:element name="Almacen_Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="almacen" nillable="true" type="tns:Almacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Almacen_SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Almacen_SelectResult" nillable="true" type="tns:Almacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Almacen_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="almacen" nillable="true" type="tns:Almacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Almacen_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Almacen_InsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Almacen_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="almacen" nillable="true" type="tns:Almacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Almacen_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Almacen_UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenesUbicaciones_Select_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="almacenesUbicaciones" nillable="true" type="tns:AlmacenesUbicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AlmacenesUbicaciones">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Almacen">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bloque" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Estante" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Posicion" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UbiId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlmacenesUbicaciones" nillable="true" type="tns:AlmacenesUbicaciones" />
  <xs:element name="AlmacenesUbicaciones_Select_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlmacenesUbicaciones_Select_ListResult" nillable="true" type="tns:ArrayOfAlmacenesUbicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfAlmacenesUbicaciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlmacenesUbicaciones" nillable="true" type="tns:AlmacenesUbicaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlmacenesUbicaciones" nillable="true" type="tns:ArrayOfAlmacenesUbicaciones" />
  <xs:element name="AlmacenesUbicaciones_Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="almacenesUbicaciones" nillable="true" type="tns:AlmacenesUbicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenesUbicaciones_SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlmacenesUbicaciones_SelectResult" nillable="true" type="tns:AlmacenesUbicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenesUbicaciones_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="almacenesUbicaciones" nillable="true" type="tns:AlmacenesUbicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenesUbicaciones_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlmacenesUbicaciones_InsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenesUbicaciones_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="almacenesUbicaciones" nillable="true" type="tns:AlmacenesUbicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenesUbicaciones_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlmacenesUbicaciones_UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mensaje_Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="tns:Mensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Idioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensaje" nillable="true" type="tns:Mensaje" />
  <xs:element name="Mensaje_SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mensaje_SelectResult" nillable="true" type="tns:Mensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>