TrazinsAtenea/Connected Services/ServiceWSTrazinsAtenea/WSTrazinsAtenea.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://WSTrazinsAtenea.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSTrazinsAtenea" targetNamespace="http://WSTrazinsAtenea.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://WSTrazinsAtenea.com/Imports">
      <xsd:import schemaLocation="http://localhost:53110/WSTrazinsAtenea.svc?xsd=xsd0" namespace="http://WSTrazinsAtenea.com" />
      <xsd:import schemaLocation="http://localhost:53110/WSTrazinsAtenea.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Select_List_InputMessage">
    <wsdl:part name="parameters" element="tns:Caja_Select_List" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Select_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:Caja_Select_ListResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Caja_Select" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:Caja_SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Caja_Insert" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Caja_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Caja_Update" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Caja_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:Caja_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Especialidad_Select_List_InputMessage">
    <wsdl:part name="parameters" element="tns:Especialidad_Select_List" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Especialidad_Select_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:Especialidad_Select_ListResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Especialidad_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Especialidad_Select" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Especialidad_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:Especialidad_SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Especialidad_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Especialidad_Insert" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Especialidad_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Especialidad_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Especialidad_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Especialidad_Update" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Especialidad_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:Especialidad_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Embalaje_Select_List_InputMessage">
    <wsdl:part name="parameters" element="tns:Embalaje_Select_List" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Embalaje_Select_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:Embalaje_Select_ListResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Embalaje_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Embalaje_Select" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Embalaje_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:Embalaje_SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Embalaje_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Embalaje_Insert" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Embalaje_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Embalaje_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Embalaje_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Embalaje_Update" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Embalaje_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:Embalaje_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Hospital_Select_List_InputMessage">
    <wsdl:part name="parameters" element="tns:Hospital_Select_List" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Hospital_Select_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:Hospital_Select_ListResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Hospital_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Hospital_Select" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Hospital_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:Hospital_SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Hospital_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Hospital_Insert" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Hospital_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Hospital_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Hospital_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Hospital_Update" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Hospital_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:Hospital_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_TipoCaja_Select_List_InputMessage">
    <wsdl:part name="parameters" element="tns:TipoCaja_Select_List" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_TipoCaja_Select_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:TipoCaja_Select_ListResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_TipoCaja_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:TipoCaja_Select" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_TipoCaja_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:TipoCaja_SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_TipoCaja_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:TipoCaja_Insert" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_TipoCaja_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:TipoCaja_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_TipoCaja_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:TipoCaja_Update" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_TipoCaja_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:TipoCaja_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Limpieza_Select_List_InputMessage">
    <wsdl:part name="parameters" element="tns:Limpieza_Select_List" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Limpieza_Select_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:Limpieza_Select_ListResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Limpieza_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Limpieza_Select" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Limpieza_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:Limpieza_SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Limpieza_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Limpieza_Insert" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Limpieza_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Limpieza_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Limpieza_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Limpieza_Update" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Limpieza_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:Limpieza_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Mensaje_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Mensaje_Select" />
  </wsdl:message>
  <wsdl:message name="IWSTrazinsAtenea_Mensaje_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:Mensaje_SelectResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSTrazinsAtenea">
    <wsdl:operation name="Caja_Select_List">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Select_List" message="tns:IWSTrazinsAtenea_Caja_Select_List_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Select_ListResponse" message="tns:IWSTrazinsAtenea_Caja_Select_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Caja_Select">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Select" message="tns:IWSTrazinsAtenea_Caja_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_SelectResponse" message="tns:IWSTrazinsAtenea_Caja_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Caja_Insert">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Insert" message="tns:IWSTrazinsAtenea_Caja_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_InsertResponse" message="tns:IWSTrazinsAtenea_Caja_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Caja_Update">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Update" message="tns:IWSTrazinsAtenea_Caja_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_UpdateResponse" message="tns:IWSTrazinsAtenea_Caja_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Especialidad_Select_List">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_Select_List" message="tns:IWSTrazinsAtenea_Especialidad_Select_List_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_Select_ListResponse" message="tns:IWSTrazinsAtenea_Especialidad_Select_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Especialidad_Select">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_Select" message="tns:IWSTrazinsAtenea_Especialidad_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_SelectResponse" message="tns:IWSTrazinsAtenea_Especialidad_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Especialidad_Insert">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_Insert" message="tns:IWSTrazinsAtenea_Especialidad_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_InsertResponse" message="tns:IWSTrazinsAtenea_Especialidad_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Especialidad_Update">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_Update" message="tns:IWSTrazinsAtenea_Especialidad_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_UpdateResponse" message="tns:IWSTrazinsAtenea_Especialidad_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Embalaje_Select_List">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_Select_List" message="tns:IWSTrazinsAtenea_Embalaje_Select_List_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_Select_ListResponse" message="tns:IWSTrazinsAtenea_Embalaje_Select_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Embalaje_Select">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_Select" message="tns:IWSTrazinsAtenea_Embalaje_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_SelectResponse" message="tns:IWSTrazinsAtenea_Embalaje_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Embalaje_Insert">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_Insert" message="tns:IWSTrazinsAtenea_Embalaje_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_InsertResponse" message="tns:IWSTrazinsAtenea_Embalaje_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Embalaje_Update">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_Update" message="tns:IWSTrazinsAtenea_Embalaje_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_UpdateResponse" message="tns:IWSTrazinsAtenea_Embalaje_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hospital_Select_List">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_Select_List" message="tns:IWSTrazinsAtenea_Hospital_Select_List_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_Select_ListResponse" message="tns:IWSTrazinsAtenea_Hospital_Select_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hospital_Select">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_Select" message="tns:IWSTrazinsAtenea_Hospital_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_SelectResponse" message="tns:IWSTrazinsAtenea_Hospital_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hospital_Insert">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_Insert" message="tns:IWSTrazinsAtenea_Hospital_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_InsertResponse" message="tns:IWSTrazinsAtenea_Hospital_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hospital_Update">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_Update" message="tns:IWSTrazinsAtenea_Hospital_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_UpdateResponse" message="tns:IWSTrazinsAtenea_Hospital_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TipoCaja_Select_List">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_Select_List" message="tns:IWSTrazinsAtenea_TipoCaja_Select_List_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_Select_ListResponse" message="tns:IWSTrazinsAtenea_TipoCaja_Select_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TipoCaja_Select">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_Select" message="tns:IWSTrazinsAtenea_TipoCaja_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_SelectResponse" message="tns:IWSTrazinsAtenea_TipoCaja_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TipoCaja_Insert">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_Insert" message="tns:IWSTrazinsAtenea_TipoCaja_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_InsertResponse" message="tns:IWSTrazinsAtenea_TipoCaja_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TipoCaja_Update">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_Update" message="tns:IWSTrazinsAtenea_TipoCaja_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_UpdateResponse" message="tns:IWSTrazinsAtenea_TipoCaja_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Limpieza_Select_List">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_Select_List" message="tns:IWSTrazinsAtenea_Limpieza_Select_List_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_Select_ListResponse" message="tns:IWSTrazinsAtenea_Limpieza_Select_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Limpieza_Select">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_Select" message="tns:IWSTrazinsAtenea_Limpieza_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_SelectResponse" message="tns:IWSTrazinsAtenea_Limpieza_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Limpieza_Insert">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_Insert" message="tns:IWSTrazinsAtenea_Limpieza_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_InsertResponse" message="tns:IWSTrazinsAtenea_Limpieza_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Limpieza_Update">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_Update" message="tns:IWSTrazinsAtenea_Limpieza_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_UpdateResponse" message="tns:IWSTrazinsAtenea_Limpieza_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mensaje_Select">
      <wsdl:input wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Mensaje_Select" message="tns:IWSTrazinsAtenea_Mensaje_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Mensaje_SelectResponse" message="tns:IWSTrazinsAtenea_Mensaje_Select_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSTrazinsAtenea" type="tns:IWSTrazinsAtenea">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Caja_Select_List">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Select_List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Caja_Select">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Caja_Insert">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Caja_Update">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Caja_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Especialidad_Select_List">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_Select_List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Especialidad_Select">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Especialidad_Insert">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Especialidad_Update">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Especialidad_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Embalaje_Select_List">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_Select_List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Embalaje_Select">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Embalaje_Insert">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Embalaje_Update">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Embalaje_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hospital_Select_List">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_Select_List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hospital_Select">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hospital_Insert">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hospital_Update">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Hospital_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TipoCaja_Select_List">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_Select_List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TipoCaja_Select">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TipoCaja_Insert">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TipoCaja_Update">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/TipoCaja_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Limpieza_Select_List">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_Select_List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Limpieza_Select">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Limpieza_Insert">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Limpieza_Update">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Limpieza_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mensaje_Select">
      <soap:operation soapAction="http://WSTrazinsAtenea.com/IWSTrazinsAtenea/Mensaje_Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSTrazinsAtenea">
    <wsdl:port name="BasicHttpBinding_IWSTrazinsAtenea" binding="tns:BasicHttpBinding_IWSTrazinsAtenea">
      <soap:address location="http://localhost:53110/WSTrazinsAtenea.svc/WSTrazinsAtenea.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>